.grid {
  max-width: 1500px;
  padding: 0 30px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 80px;
  position: relative;
}

@media (max-width: 700px) {
  .grid {
    gap: 40px;
    padding: 0 20px;
  }
}
